*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(228, 15, 15, 0.892), rgba(20, 20, 230, 0.1));
}
h1{
    font-size: 3em;
    color: black;
}
h2{
    font-size: 2.5em;
    color: black;
}
h3{
    font-size: 2em;
}
input{
    height: 75px;
    width: 100px;
    border-radius: 10%;
}